@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/** Original root with 'blue' as primary color
:root {
    --primary-color: #6366F1;
    --dark-grey: #6B7280;
    --off-white: #F3F4F6;
}
**/

/** Version 2 - with darker blue and darker orange**/
/**
:root {
    --primary-color: #db0000;
    --dark-blue: #00043B;
    --light-grey: #D1D5DB;
}
**/
/** Version 3 - with Sinopia**/
:root {
    --primary-color: #D12D00;
    --dark-blue: #00043B;
    --light-grey: #D1D5DB;
}
html{
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    background-color:var(--dark-blue);
    height: 100%;
    background-image: linear-gradient(135deg, #00032C, #00021A);
    background-repeat: no-repeat;
    overflow-x: hidden;
}

hr {
    margin: 2rem 0rem;
}

/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.container-center {
    max-width: 700px;
    margin: auto;
}

/** links **/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--primary-color);
}
/** lists **/
.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/
.navigation {
    padding: 1rem;
    background-image: linear-gradient(135deg, #00021A, #00032C);
}

.nav-text {
    color: var(--primary-color);
    margin: auto;
    max-width: 700px;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: var(--primary-color);
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/
.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-image {
    width: 80%;
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    color: var(--dark-grey);
    padding-top: 1rem;
}

.hero .hero-heading-span{
    color: var(--primary-color);
}
/** sections **/
.section {
    padding: 2rem 1rem;
    
}

.section h2 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/** footer **/
footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
.footer {
    text-align: center;
    padding: 0.5rem;
}
.footer .header {
    color: var(--primary-color);
}
.footer .link {
    color: var(--primary-color);
    padding: 0.5rem;
}

.footer ul {
    padding-inline-start: 0px;
}

.fab {
    padding-top: 0.5rem;
}

/** Blogs **/
.blog{
    color:var(--light-grey);
}

.blog .heading{
    text-align: left;
}

.blog .subtitle{
    font-weight: bold;
}
a {
    text-decoration: none;
    color: var(--primary-color);
}
